Variables and Data typle

1.In Python, variables store data, and each variable has a data type that defines what kind of data it holds. Below is a list of common data types in Python with examples:

1Ô∏è‚É£ Integer (int) ‚Äì Whole numbers ‚úÖ Examples: -5, 0, 100, 2500

In [3]:
X = 10 # An integer
print(type(X)) # Output: <class 'int'>

<class 'int'>

2Ô∏è‚É£ Floating-Point (float) ‚Äì Decimal numbers ‚úÖ Examples: 3.14, -0.5, 2.0, 100.25

In [5]:
pi = 3.14 # A float
print(type(pi)) # Output: <class float >

<class 'float'>

3Ô∏è‚É£ String (str) ‚Äì Text data
‚úÖ Examples: "Hello", 'Python', "123" (as a string)

In [6]:
name = "khalil" 
print(type(name)) # Output: <<class : str>

<class 'str'>

4Ô∏è‚É£ Boolean (bool) ‚Äì True or False val vues  ‚úÖ Examples: True, False

In [7]:
is_python_fun = True # A boolean Value
print(type(is_python_fun)) # Output: <class bool>

<class 'bool'>

5Ô∏è‚É£ List (list) ‚Äì Ordered, mutable collection  ‚úÖ Examples: [1, 2, 3], ["apple", "banana", "cherry"]

In [8]:
number = [1,2,3,4,5] # A list 
print(type(number)) # Output: <Class : 'list>

<class 'list'>

6Ô∏è‚É£ Tuple (tuple) ‚Äì Ordered, immutable collection ‚úÖ Examples: (1, 2, 3), ("red", "green", "blue")

In [9]:
coordinate = (10,20) # A tuple
print(type(coordinate)) # Output: <class : tuple>

<class 'tuple'>

7Ô∏è‚É£ Set (set) ‚Äì Unordered, unique collection ‚úÖ Examples: {1, 2, 3}, {"apple", "banana", "cherry"}

In [10]:
uniqe_number = {1,2,3,4,5} #  A set
print(type(uniqe_number))# Output: <class set>

<class 'set'>

8Ô∏è‚É£ Dictionary (dict) ‚Äì Key-value pairs ‚úÖ Examples: {"brand": "Toyota", "year": 2022}

In [11]:
student = {"name": "khalil", "age":32} #  a dictionary
print(type(student)) # output: <class dict>

<class 'dict'>

9Ô∏è‚É£ NoneType (None) ‚Äì Represents absence of value ‚úÖ Example: None

In [13]:
x = None # A nontype variable
print(type(x)) # Output : <class nonetype>

<class 'NoneType'>

üî• Bonus: Type Conversion

1.You can change the data type using type conversion functions:

In [14]:
X = "100" # string
y = int(X) # convert to intger
print(type(y)) # output: <class int>

<class 'int'>

# Python Variables and Data Types

| Data Type  | Description | Example |
|------------|------------|---------|
| `int` (Integer) | Whole numbers (positive or negative) | `10, -5, 100` |
| `float` (Floating-Point) | Decimal numbers | `3.14, -0.5, 2.0` |
| `str` (String) | Text values enclosed in quotes | `"Hello", 'Python'` |
| `bool` (Boolean) | True or False values | `True, False` |
| `list` (List) | Ordered, mutable collection | `[1, 2, 3]`, `["apple", "banana"]` |
| `tuple` (Tuple) | Ordered, immutable collection | `(1, 2, 3)`, `("red", "blue")` |
| `set` (Set) | Unordered collection of unique values | `{1, 2, 3}`, `{"apple", "banana"}` |
| `dict` (Dictionary) | Key-value pairs | `{"name": "Khalil", "age": 30}` |
| `NoneType` (None) | Represents absence of a value | `None` |

In [23]:
character_name = "Hassan" # you can change name and recive diffrent output
character_age = "50" # you can change age and recive diffrent output
print("There once wase a man named", character_name + ".") # + can add string variable with string
print("he was", character_age,"years old.")
print("he really like th name" , character_name+".")
print("But didnt like being", character_age + ".")

There once wase a man named Hassan.
he was 50 years old.
he really like th name Hassan.
But didnt like being 50.